html {
	font-family: Arial, sans-serif;
}

body nav#navbar {
	background-color: rgba(15, 51, 68, 0.9);
	position: fixed;
	top: 0px;
}

nav img#nav-logo-img {
	width: 45px;
	height: 55px;
	padding-left: 5px;
	padding-top: 5px;
}

section#home {
	background: transparent url("background.jpg") center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	text-align: center;
}

section#home #event-title {
	margin: 0px;
	padding-top: 15%;
	color: white;
	font-weight: bold;
	font-size: 60px;
}

section#home .event-subtitle {
	margin-top: 20px;
	color: white;
}

section#home #register-button {
	margin-top: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	border: 4px solid white;
	font-size: 20px;
	line-height: 48px;
}

section#about #about-info {
	padding-top: 50px;
	padding-bottom: 50px;
}

section#about p {
	font-size: 17px;
}

section#theme {
	background-color: rgb(15, 51, 68);
	color: white;
}

section#theme #theme-info {
	padding-top: 50px;
	padding-bottom: 50px;
}

section#theme p {
	font-size: 17px;
}

section#speakers #speakers-info {
	padding-top: 50px;
	padding-bottom: 50px;
}

section#speakers .speaker-col {
	background-color: rgb(15, 51, 68);
	padding: 10px;
	color: white;
	margin: 10px;
	height: 240px;
}

section#sponsors #sponsors-info {
	padding-top: 50px;
	padding-bottom: 50px;
}

#zabiha-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section#faq {
	background-color: rgb(15, 51, 68);
}

section#faq #faq-info {
	padding-top: 50px;
	padding-bottom: 50px;
}

section#faq h3 {
	color: white;
}

section#faq p {
	background-color: white;
}

section#filler {
	height: 6px;
	background-color: rgb(15, 51, 68);
}

section#getInvolved {
	padding-top: 50px;
	padding-bottom: 50px;
}

.get-involved-title {
	text-align: center;
	margin-bottom: 50px;
}

section#getInvolved div.get-involved-section {
	text-align: center;
	padding: 0px 30px;
}

div.get-involved-section p {
	font-size: 18px;
}

a.get-involved-button {
	margin-top: 20px;
	margin-bottom: 30px;
	color: white;
	background-color: rgb(15, 51, 68);
	border: 4px solid rgb(15, 51, 68);
	font-size: 20px;
	line-height: 48px;
	margin-left: auto;
	margin-right: auto;
}

a.get-involved-button:hover {
	color: rgb(15, 51, 68);
	background-color: white;
	border: 4px solid rgb(15, 51, 68);
}

footer#footer {
	background-color: rgb(15, 51, 68);
	color: #D0D0D0;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer#footer p {
	margin: 0px;
}

